{% extends 'base.html.twig' %} {% block title %}Ingredient{% endblock %} {%
    block body %}
    
    <div class="col py-3">
        <h2 class="card-text">
            {{ recipe.title }}
          </h2>
        <br>
        {{ form_start(form) }}

            {{ form_row(form.title) }}
            {{ form_row(form.path) }}
           
            <button type="submit">Soumettre</button>

        {{ form_end(form) }}
    </div>
    </div>
    </div>

    {% endblock %}