{% extends 'base.html.twig' %} {% block title %}Acceuil Marmite Ronde{% endblock
%} {% block body %}


  <div class="col py-3">
  <h1>Hello Marmite ronde</h1>

  <br />
<div class="container-fluid">
  <div class="row">
    {% for recipe in recipes %}
    <div class="col-lg-4 col-md-6">
      <div class="card">
        {% for image in recipe.media %}
          <img src="{{ asset('./uploads/images/' ~ image.path) }}" alt="{{ image.title }}" />
        {% else %}
        TODO empty image
          <img src="" alt="" />
        {% endfor %}
        <div class="card-body">
          <h2 class="card-text">
            {{ recipe.title }}
          </h2>
          <p class="card-text">
            {{ recipe.difficulty.label }}
          </p>
          <a
            href="{{ path('recipe_show', { id: recipe.id }) }}"
            class="btn btn-primary"
            target="_blank"
            >Voir la recette</a
          >
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

</div>
</div>
</div>
{% endblock %}
