{% extends 'base.html.twig' %} {% block title %}Ingredient{% endblock %} {%
    block body %}
    
    <div class="col py-3">
        <br>
        {{ form_start(form) }}

            {{ form_row(form.label) }}
            {{ form_row(form.foronepers) }}
            {{ form_row(form.unity) }}
            {# {{ form_row(form.recipes) }} #}

            <button type="submit" class="btn btn-primary">Soumettre</button>

        {{ form_end(form) }}
    </div>
    </div>
    </div>
    
    {% endblock %}
    