{% extends 'base.html.twig' %} {% block title %}Recette{% endblock %} {%
    block body %}
    
    <div class="col py-3">
      <h1>{{ recipe.title }}</h1>
<br /><br />
<div class="row">
  <div class="col-lg-4 col-md-6" style="margin-bottom: 10px">
    <div class="card">
      <img src="" />
      <div class="card-body">
        <p class="card-text">
          {{ recipe.difficulty.label }}
        </p>
        <p class="card-text">
          Temps de préparation : {{ recipe.duration }} min.
        </p>
        <p class="card-text">
          Pour {{ recipe.numberPers }} personnes.
        </p>
        <p class="card-text">
          {{ recipe.content }}
        </p>
      </div>
    </div>
  </div>
</div>
      <br>
      {{ form_start(form) }}

        {{ form_row(form.content) }}
        {{ form_row(form.recipe) }}
      
        <button type="submit">Soumettre</button>

      {{ form_end(form) }}
    </div>
    </div>
    </div>
    
    {% endblock %}