<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Marmite ronde</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ path('home') }}"
            >Home</a
          >
        </li>
        {% if app.user %}
        <li class="nav-item">
          <p class="nav-link active" aria-current="page">Bonjour {{ app.user.firstname }}</p>
        </li>
        <li class="nav-item">
          <a class="nav-link active"
          aria-current="page" href="{{ path('register_edit', {id:app.user.id}) }}" target="_blank">Modifier son profil</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{{ path('app_logout') }}"
            >Se déconnecter</a
          >
        {% else %}
          </li>
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ path('app_login') }}"
              target="_blank"
              >Se connecter</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link active"
              aria-current="page"
              href="{{ path('app_register') }}"
              target="_blank"
              >S'inscrire</a
            >
          </li>
            {% endif %}
      </ul>
    </div>
  </div>
</nav>
